@tailwind base;
@tailwind components;
@tailwind utilities;




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'normal-font';
  src: url('./assets/fonts/Baloo2-VariableFont_wght.ttf') format('woff');
}

@font-face {
  font-family: 'name-font';
  src: url('./assets/fonts/RubikDoodleShadow-Regular.ttf') format('woff');
}

.my-name{
  font-family: name-font;
}

body{
  font-family: normal-font;
}