@tailwind base;
@tailwind components;
@tailwind utilities;




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'normal-font';
  src: url('./assets/fonts/Baloo2-VariableFont_wght.ttf') format('woff');
}

@font-face {
  font-family: 'name-font';
  src: url('./assets/fonts/RubikDoodleShadow-Regular.ttf') format('woff');
}

.my-name{
  font-family: name-font;
}

body{
  font-family: normal-font;
}

.maindiv img{
  z-index: 0;
  height: auto;
  width: 100%;

}
.maindiv{
  position: relative;
  overflow: hidden;
  z-index: 0;
  /* margin: 0; */
  background: transparent;
  transition: background cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;
}

.overl{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.1));
  opacity: 0;
  z-index: 1;
  transition: opacity 300ms ease-in-out;

}

.maindiv:hover .overl{
  opacity: 1;
  /* background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0)); */
}
.mainbtn{
  opacity: 0;
  z-index: 4;
  position: absolute;
  bottom: 40%;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;

}


/* 
.mainbtn{
  display: none;
  position: absolute;
  transition: transform 3s ease-in-out;
  
} */
.maindiv:hover .mainbtn{
  /* background-color: rgb(123, 222, 212, .5); */
  transform: translate(-50%, 0);
  opacity: 1;
  /* display: flex; */
  /* margin: auto; */
  /* text-align: center; */
  /* transform: translateY(-50px) ; */
  
}



@keyframes change-pos {
  
  /* 0%{
    transform: translateY(0px);
  } */
  100% {
    transform: translateY(-60px); /* Adjust the distance as needed */
  }
}

 

.tech-bg{
  background: rgba(173, 203, 209, 0.644);
  box-shadow: 0 8px 32px 0 rgba(4, 238, 255, 0.986);
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba(146, 140, 140, 0.726);
}



.content-container{
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  height: 1300px;
}
@media screen and (min-width: 768px){
  
  .content-container{
    height: 650px;
  }
}



@media screen and (min-width: 1023px){
  .content-container{
    height: 330px;
  }
}


.hidden-container{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.content-container.open{
  height: auto;

}
.content-container.open .hidden-container{
  max-height: fit-content;
  opacity: 1;
}